<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="1">
	<listeners>
		<listener class-name="com.QA.TestReports.TestListener" />
	</listeners>
	<test name="Admin Tests">
		<classes>
			<class name="testCases.LoginTest" />
			
		</classes>
	</test>
</suite>